<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer"
      connectionString="Data Source=185.50.68.167;Initial Catalog=MercedesBenz_LeadtoSales;Persist Security Info=True;User ID=sa;Password=x9L_]72?"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>